<!-- Bouton Retour indépendant -->
<button class="back-button" (click)="goBack()">← 
  {{ backBtnText }}
</button>

<!-- Conteneur principal -->
<div class="choice-parfum-container">
  <h1>{{MidTexte}}</h1>
  
  <div class="search-container">
    <input type="text" 
           placeholder="{{SearchPlaceholder}}" 
           [(ngModel)]="searchTerm"
           class="search-input">
  </div>
  
  <div class="parfum-list">
    <p>{{LastTexte}}.</p>
    <!-- Ici vous ajouterez plus tard la liste des parfums -->
  </div>
</div>
