<section class="welcome-page" role="region" aria-label="Landing parfums">
  <div class="content">
    <header class="brand">
      <img src="assets/modesty.png" alt="Logo de la marque" class="brand__logo" />
    </header>

    <h1 class="hero__title">
      {{ t.heroTitle }}
    </h1>

    <p class="hero__subtitle">
    {{ t.heroSubtitle }}
    </p>

    <!-- Bouton CTA -->
    <div class="actions">
      <button class="cta" (click)="onStart()" aria-label="Commencer l'expérience">
          {{ t.cta }}
      </button>
    </div>

    <!-- Switcher de langue séparé et centré -->
    <div class="lang" role="tablist" aria-label="Choisir la langue">
      <!-- FR -->
      <div class="lang__item" [class.active]="lang==='fr'" (click)="setLang('fr')" role="tab" [attr.aria-selected]="lang==='fr'">
        <div class="lang__circle">
          <img src="assets/fr.png" alt="Français" class="lang__flag"/>
        </div>
        <span class="lang__label">FR</span>
      </div>

      <!-- EN -->
      <div class="lang__item" [class.active]="lang==='en'" (click)="setLang('en')" role="tab" [attr.aria-selected]="lang==='en'">
        <div class="lang__circle">
          <img src="assets/en.png" alt="English" class="lang__flag"/>
        </div>
        <span class="lang__label">EN</span>
      </div>

      <!-- NL -->
      <div class="lang__item" [class.active]="lang==='nl'" (click)="setLang('nl')" role="tab" [attr.aria-selected]="lang==='nl'">
        <div class="lang__circle">
          <img src="assets/nl.png" alt="Nederlands" class="lang__flag"/>
        </div>
        <span class="lang__label">NL</span>
      </div>
    </div>
  </div>

  <!-- Partie droite : vidéo -->
  <aside class="visual" aria-hidden="true">
    <video #videoPlayer autoplay muted playsinline class="visual__video">
    </video>
    <div class="visual__overlay"></div>
  </aside>
</section>
