<div #container class="focus-container">
  <span
    *ngFor="let word of words; let i = index"
    #wordEl
    [ngStyle]="{
      filter: i === currentIndex ? 'blur(0px)' : 'blur(' + blurAmount + 'px)',
      transition: 'filter ' + animationDuration + 's ease'
    }"
    class="focus-word"
    (mouseenter)="registerWord(wordEl, i)"
  >
    {{ word }}
  </span>

  <!-- cadre animé -->
  <div
    class="focus-frame"
    [ngStyle]="{
      transform: 'translate(' + focusRect.x + 'px,' + focusRect.y + 'px)',
      width: focusRect.width + 'px',
      height: focusRect.height + 'px',
      borderColor: borderColor,
      boxShadow: '0 0 10px ' + glowColor,
      transition: 'all ' + animationDuration + 's ease'
    }"
  >
    <span class="corner top-left"></span>
    <span class="corner top-right"></span>
    <span class="corner bottom-left"></span>
    <span class="corner bottom-right"></span>
  </div>
</div>
